/* app/styles.css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f7f7f8;
  }
  
  .app-container {
    display: flex;
    height: 100vh;
  }

  .spinner-ui{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .login-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
  }

  .login-text{
    font-size: 20px;
    background-color: #202123;
    color: white;
    padding:10px;
    border-radius: 10px;
    
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
  
  .sidebar {
    width: 250px;
    background-color: #202123;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .welcome-heading{
    margin-bottom:-40px;
  }
  
  .logo {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .new-chat {
    padding: 10px;
    border: none;
    background-color: #343541;
    color: white;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .chat-main {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #f7f7f8;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  }
  
  .chat-window {
    flex: 1;
    padding: 24px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .message {
    background: white;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    padding: 12px;
    max-width: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  }
  
   
  .message-question {
    background: white;
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    padding: 12px;
    max-width: 80%;
    align-items: flex-end;
    margin-left: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    float: right !important;
  }

  .user {
    font-weight: bold;
    margin-bottom: 4px;
  }
  
  .bubble {
    line-height: 1.4;
  }
  
  .input-bar {
    display: flex;
    padding: 16px;
    border-top: 1px solid #ccc;
    background-color: #fff;
  }
  
  .chat-input {
    flex: 1;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    margin-right: 8px;
  }
  
  .send-button {
    background-color: #10a37f;
    border: none;
    color: white;
    padding: 0 18px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
  }
  